<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <h2>EccofootPrint App Results</h2>

    <h4>Hi <%= name %>,</h4>

    <p><%= text %></p>

    <!-- Example usage in footprints.ejs -->
    <p>Selected Factor: <%= selectedFactor %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Category: <%= category %></p>
    <p>Results: <%= result %></p>
    <p>Total Results: <%= totalresult %></p>

    <p><%= text %></p>
    <p>Fuel: <%= Fuel %></p>
    <p>Clean Energy: <%= CleanEnergy %></p>
    <p>Books and Cellulose papers: <%= BooksAndCellulosePapers %></p>

    <p>Regards <span style="color: #ff0000">&#9829;</span></p>

    <p>Collins Muchui</p>
    <p>Developer</p>
  </body>
</html>
